body {
background-color: black;
color: white;
}
a {
color: red;
}
.images1{
display: flex;
}
.images2{
display: flex;
}
border{
  border-image: linerar-gradient(black; white)
}
.passe-partout {
    border: 2px solid black; 
    border-image: linear-gradient(black; white)
}
